{% extends 'base.html' %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'coins.css' %}">
{% endblock head %}

{% block nav %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'coins' %}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Order
                        </a>
                        <ul class="dropdown-menu" id="filter">
                            <li><a class="dropdown-item" value="name" href="{% url 'coins' %}filter_by_name/">By
                                name</a></li>
                            <li><a class="dropdown-item" value="rank" href="{% url 'coins' %}filter_by_rank/">By
                                rank</a></li>
                            <li><a class="dropdown-item" value="price" href="{% url 'coins' %}filter_by_price/">By
                                price</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" value="percent-change-7d"
                                   href="{% url 'coins' %}filter_by_percent_change/7d">By %
                                change 7 days</a></li>
                            <li><a class="dropdown-item" value="percent-change-24h"
                                   href="{% url 'coins' %}filter_by_percent_change/24h">By %
                                change 24 hour</a></li>
                            <li><a class="dropdown-item" value="percent-change-1h"
                                   href="{% url 'coins' %}filter_by_percent_change/1h">By %
                                change 1 hour</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
{% endblock nav %}


{% block content %}
    <table class="table table-striped-columns" id="coins-table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Rank</th>
            <th scope="col">Prise_USD</th>
            <th scope="col">Percent_change_24h</th>
            <th scope="col">Percent_change_7d</th>
            <th scope="col">Percent_change_1h</th>
        </tr>
        </thead>
        <tbody>
        {% for coin in coins %}
            <tr>
                <th scope="row">{{ coin.id }}</th>
                <td value="name"><a class="nav-link" href="/{{ coin.name }}/">{{ coin.name }}</a></td>
                <td value="rank">{{ coin.rank }}</td>
                <td value="price">{{ coin.price_usd }}</td>
                <td value="percent-change-24h">{{ coin.percent_change_24h }}</td>
                <td value="percent-change-7d">{{ coin.percent_change_7d }}</td>
                <td value="percent-change-1h">{{ coin.percent_change_1h }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}

{% block scripts %}
    <script>
        const rows = document.querySelectorAll('#coins-table tbody tr');
        rows.forEach((row) => {
            row.cells[{{col_index}}].style.backgroundColor = 'lightyellow';
        });
    </script>
{% endblock scripts %}